.up {

  list-style-type: none;
  background-size: cover;
  position: fixed;
  background-color:  #084298;
  height: 8%;
  width: 100%;
  padding-block-start: 3cm;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 2.5cm;
  padding-top: 0cm;
}


li {

  list-style-type: none;
  position: relative;

}

li a {
  display: flex;
  color: rgb(199, 195, 195);
  text-align: center;
  padding: 6px 8px;
  justify-content: first baseline;
  background-color: rgba(255, 255, 255, 0.1);


}

li a.active {
  background-color: #04AA6D;
  color: white;
  opacity: 0.6;
}

li a:hover {
  background-color: hsla(90, 66%, 39%, 0.881);
  border-radius: 5px 5px 5px 5px;

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}